.sx-cms-toolbar_position_top {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    /*width: auto;*/
}

.sx-cms-toolbar {
    overflow: hidden;
}

.sx-cms-toolbar__block {
    max-height: 40px;
}
.sx-cms-toolbar__block img {
    max-height: 35px;
    max-width: 35px;
}

.sx-cms-toolbar__title {
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
    background: #2a2b2a;
}
.sx-cms-toolbar__title img{
    max-height: 40px;
    max-width: 40px;
}

.sx-cms-toolbar__label {
    line-height: 22px;
    padding: 4px 8px;
}


.sx-cms-toolbar__label input[type="checkbox"] {
    margin: 0px;
}

.sx-cms-toolbar__parent_hover_active {
    display: none;
    transition: opacity 2s ease-out;
    opacity: 0;
}
.sx-cms-toolbar__label:hover .sx-cms-toolbar__parent_hover_active {
    opacity: 1;
    display: inline;

}